<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magichear.TCManager.mapper.CourseMapper">

    <!-- 插入主讲课程关联信息
         [FIX] 此处 lectureTerm 漏了 '.value'
     -->
    <insert id="insertLectureCourse">
        INSERT INTO LECTRUE_COURSE (TEACHER_ID, COURSE_ID, LECTRUE_YEAR, LECTRUE_TERM, LECTRUE_HOUR)
        VALUES (#{teacherId}, #{courseId}, #{lectureYear}, #{lectureTerm.value}, #{lectureHour})
    </insert>

    <!-- 删除主讲课程关联信息 -->
    <delete id="deleteLectureCourse">
        DELETE FROM LECTRUE_COURSE
        WHERE COURSE_ID = #{courseId}
        <if test="teacherId != null">
            AND TEACHER_ID = #{teacherId}
        </if>
    </delete>

    <!-- 查询课程的总学时 -->
    <select id="getCourseHour" resultType="int">
        SELECT COURSE_HOUR
        FROM COURCE
        WHERE COURSE_ID = #{courseId}
    </select>
    
    <!-- 查询主讲课程记录的学时 -->
    <select id="getLectureHour" resultType="int">
        SELECT LECTRUE_HOUR
        FROM LECTRUE_COURSE
        WHERE COURSE_ID = #{courseId} AND TEACHER_ID = #{teacherId}
    </select>
    
    <!-- 更新课程表的学时信息 -->
    <update id="updateCourseHour">
        UPDATE COURCE
        SET COURSE_HOUR = #{updatedCourseHour}
        WHERE COURSE_ID = #{courseId}
    </update>

    <select id="selectLectureCoursesByTeacherId" resultMap="LectureCourseResultMap">
        SELECT 
            TEACHER_ID, 
            COURSE_ID, 
            LECTRUE_YEAR, 
            LECTRUE_TERM, 
            LECTRUE_HOUR
        FROM LECTRUE_COURSE
        WHERE TEACHER_ID = #{teacherId}
    </select>

    <resultMap id="LectureCourseResultMap" type="com.magichear.TCManager.dto.Course.LectureCourseDTO">
        <id property="teacherId" column="TEACHER_ID" />
        <result property="courseId" column="COURSE_ID" />
        <result property="lectureYear" column="LECTRUE_YEAR" />
        <result property="lectureTerm" column="LECTRUE_TERM" javaType="com.magichear.TCManager.enums.Course.Term" typeHandler="com.magichear.TCManager.utils.EnumTypeHandler"/>
        <result property="lectureHour" column="LECTRUE_HOUR" />
    </resultMap>

    <select id="selectCourseById" resultMap="CourseResultMap">
        SELECT 
            COURSE_ID, 
            COURSE_NAME, 
            COURSE_HOUR, 
            COURSE_TYPE
        FROM COURCE
        WHERE COURSE_ID = #{courseId}
    </select>

    <resultMap id="CourseResultMap" type="com.magichear.TCManager.dto.Course.CourseDTO">
        <id property="courseId" column="COURSE_ID" />
        <result property="courseName" column="COURSE_NAME" />
        <result property="courseHour" column="COURSE_HOUR" />
        <result property="courseType" column="COURSE_TYPE" javaType="com.magichear.TCManager.enums.Course.CourseType" typeHandler="com.magichear.TCManager.utils.CourseTypeHandler"/>
    </resultMap>
</mapper>