<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magichear.TCManager.mapper.CourseMapper">

    <!-- 插入主讲课程关联信息 -->
    <insert id="insertLectureCourse">
        INSERT INTO LECTRUE_COURSE (TEACHER_ID, COURSE_ID, LECTRUE_YEAR, LECTRUE_TERM, LECTRUE_HOUR)
        VALUES (#{teacherId}, #{courseId}, #{lectureYear}, #{lectureTerm}, #{lectureHour})
    </insert>

    <!-- 删除主讲课程关联信息 -->
    <delete id="deleteLectureCourse">
        DELETE FROM LECTRUE_COURSE
        WHERE COURSE_ID = #{courseId}
        <if test="teacherId != null">
            AND TEACHER_ID = #{teacherId}
        </if>
    </delete>

    <!-- 查询课程的总学时 -->
    <select id="getCourseHour" resultType="int">
        SELECT COURSE_HOUR
        FROM COURCE
        WHERE COURSE_ID = #{courseId}
    </select>
    
    <!-- 查询主讲课程记录的学时 -->
    <select id="getLectureHour" resultType="int">
        SELECT LECTRUE_HOUR
        FROM LECTRUE_COURSE
        WHERE COURSE_ID = #{courseId} AND TEACHER_ID = #{teacherId}
    </select>
    
    <!-- 更新课程表的学时信息 -->
    <update id="updateCourseHour">
        UPDATE COURCE
        SET COURSE_HOUR = #{updatedCourseHour}
        WHERE COURSE_ID = #{courseId}
    </update>

</mapper>