<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magichear.TCManager.mapper.ProjectMapper">

    <!-- 插入项目基本信息 -->
    <insert id="insertProject">
        INSERT INTO PROJECTION (PROJ_ID, PROJ_NAME, PROJ_SRC, PROJ_TYPE, PROJ_BALANCE, PROJ_START_YEAR, PROJ_END_YEAR)
        VALUES (#{projId}, #{projName}, #{projSrc}, #{projType.value}, #{projBalance}, #{projStartYear}, #{projEndYear})
    </insert>

    <!-- 删除项目基本信息 -->
    <delete id="deleteProject">
        DELETE FROM PROJECTION
        WHERE PROJ_ID = #{projId}
    </delete>

    <!-- 更新项目基本信息 -->
    <update id="updateProject">
        UPDATE PROJECTION
        SET PROJ_NAME = #{projName}, PROJ_SRC = #{projSrc}, PROJ_TYPE = #{projType.value},
            PROJ_BALANCE = #{projBalance}, PROJ_START_YEAR = #{projStartYear}, PROJ_END_YEAR = #{projEndYear}
        WHERE PROJ_ID = #{projId}
    </update>

    <!-- 按项目号查询项目 -->
    <select id="selectProjectById" resultMap="ProjectResultMap">
        SELECT PROJ_ID, PROJ_NAME, PROJ_SRC, PROJ_TYPE, PROJ_BALANCE, PROJ_START_YEAR, PROJ_END_YEAR
        FROM PROJECTION
        WHERE PROJ_ID = #{projId}
    </select>

    <resultMap id="ProjectResultMap" type="com.magichear.TCManager.dto.ProjectionDTO">
        <id property="projId" column="PROJ_ID" />
        <result property="projName" column="PROJ_NAME" />
        <result property="projSrc" column="PROJ_SRC" />
        <result property="projType" column="PROJ_TYPE" javaType="com.magichear.TCManager.enums.ProjType" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
        <result property="projBalance" column="PROJ_BALANCE" />
        <result property="projStartYear" column="PROJ_START_YEAR" />
        <result property="projEndYear" column="PROJ_END_YEAR" />
    </resultMap>

<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

    <!-- 插入教师承担信息 -->
    <insert id="insertCharge">
        INSERT INTO IN_CHARGE (TEACHER_ID, PROJ_ID, CHARGE_RANK, CHARGE_BALANCE)
        VALUES (#{teacherId}, #{projId}, #{chargeRank}, #{chargeBalance})
    </insert>

    <!-- 更新教师承担信息 -->
    <update id="updateCharge">
        UPDATE IN_CHARGE
        <set>
            <if test="chargeRank != null">
                CHARGE_RANK = #{chargeRank},
            </if>
            <if test="chargeBalance != null">
                CHARGE_BALANCE = #{chargeBalance},
            </if>
        </set>
        WHERE TEACHER_ID = #{teacherId} AND PROJ_ID = #{projId}
    </update>

    <!-- 删除教师承担信息 -->
    <delete id="deleteCharge">
        DELETE FROM IN_CHARGE
        WHERE PROJ_ID = #{projId}
        <if test="teacherId != null">
            AND TEACHER_ID = #{teacherId}
        </if>
    </delete>

    <!-- 查询所有承担记录（同时限制项目号与教师工号，或单纯通过教师工号查询） -->
    <select id="selectChargesById" resultMap="ChargeResultMap">
        SELECT TEACHER_ID, PROJ_ID, CHARGE_RANK, CHARGE_BALANCE
        FROM IN_CHARGE
        <if test="projId != null">
            WHERE PROJ_ID = #{projId}
        </if>
        <if test="teacherId != null">
            <if test="projId == null">
                WHERE TEACHER_ID = #{teacherId}
            </if>
            <if test="projId != null">
                AND TEACHER_ID = #{teacherId}
            </if>
        </if>
    </select>

    <resultMap id="ChargeResultMap" type="com.magichear.TCManager.dto.InChargeDTO">
        <id property="teacherId" column="TEACHER_ID" />
        <result property="projId" column="PROJ_ID" />
        <result property="chargeRank" column="CHARGE_RANK" />
        <result property="chargeBalance" column="CHARGE_BALANCE" />
    </resultMap>

    <!-- 查询某项目是否存在重复排名 -->
    <select id="checkProjectRankDuplicate" resultType="boolean">
        SELECT COUNT(1) > 0
        FROM IN_CHARGE
        WHERE PROJ_ID = #{projId} 
          AND CHARGE_RANK = #{rank}
          AND TEACHER_ID != #{teacherId}
    </select>

    <!-- 计算某项目所有教师的承担经费总和 -->
    <select id="calculateTotalCharge" resultType="double">
        SELECT COALESCE(SUM(CHARGE_BALANCE), 0)
        FROM IN_CHARGE
        WHERE PROJ_ID = #{projId}
    </select>
</mapper>